* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 715px;
    background-color: black;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.square {
    width: 40px;
    height: 40px;
    background-color: white;
}

.square:hover {
    background-color: red;
}