* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#sizeSetting {
    background-color: crimson;
    color: white;
    padding: 15px 30px;
    border: none;
}

#sizeSetting:hover {
    background-color: rgb(226, 48, 84);
}

#sizeSetting:active {
    background-color: rgb(219, 10, 52);
} 

#container {
    width: 600px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1px;
    border: 1px solid #000;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: black;
    gap: 1px;
    flex: 1 1 50px;
}

.square {
    flex: 1 1 50px;
}

.squareColor1 {
    background-color: hsl(0, 100%, 100%);
}

.squareColor2 {
    background-color: hsl(0, 100%, 75%);
}

.squareColor3 {
    background-color: hsl(0, 100%, 50%);
}

.squareColor4 {
    background-color: hsl(0, 100%, 25%);
}

.squareColor5 {
    background-color: hsl(0, 100%, 0%);
}