* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 600px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1px;
    border: 1px solid #000;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: black;
    gap: 1px;
    flex: 1 1 50px;
}

.square {
    background-color: white;
    flex: 1 1 50px;
}

.square:hover {
    background-color: red;
}